<a href="https://colab.research.google.com/github/ZarAsim10/PYTHON/blob/main/assignment_3_List_tuples_and_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PART ONE :BASIC LIST OPERATIONS

#1 Create a list of five numbers and append a new number to it. Print the updated list.
vegetables: list= ["tomato","potato","peas","onion" ]
print(vegetables)
vegetables.append("carrot")
print(vegetables)

['tomato', 'potato', 'peas', 'onion']
['tomato', 'potato', 'peas', 'onion', 'carrot']

In [ ]:
#extend a list [1,2,3] with another list [4,5,6] print the result
numbers:list= ["1", "2", "3 "]
numbers.extend(["4", "5", "6"])
print(numbers)

['1', '2', '3 ', '4', '5', '6']

In [ ]:
#Insert the string "Python" at index 2 in the list ["Java", "c++" ,"Javascript","Ruby"]
languages = ["Java", "c++" ,"Javascript","Ruby"]
languages.insert(2,"Python")
print(languages)

['Java', 'c++', 'Python', 'Javascript', 'Ruby']

In [ ]:
#Remove the first occurence of the number 10 from the list [10 , 20, 30 , 10 , 40]
numbers = [10, 20, 30, 10, 40]
numbers.remove(10)
print(numbers)

[20, 30, 10, 40]

In [ ]:
#Use the pop() method to remove the last element [ 100, 200, 300, 400] and print the modified list
numbers = [100, 200, 300, 400]
numbers.pop()
print(numbers)

[100, 200, 300]

In [ ]:
#PART 2 : INTERMEDIATE LIST OPERATONS

6 #count how many times the number 5 appears in the list [5, 10, 5, 20, 5,30]
numbers = [5, 10, 5, 20, 5, 30]
print(numbers.count(5))

3

In [ ]:
7. #sort the list [9,1, 8, 3, 5 in ascending and descending order]
numbers = [9,1,8,3,5]
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[1, 3, 5, 8, 9]
[9, 8, 5, 3, 1]

In [ ]:
8 #Reverse the list ["apple","banana" , "cherry" ] using the reverse() method
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [ ]:
9# Create a copy of list[ 1,2,3,4,5] and store it in another variable modify the copied list and print both lists.
original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()
copied_list.append(6)
print(original_list)
print(copied_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [ ]:
10 #Clear all elements from a list ["hello" , "world" , "Python"] using the clear () method
list = ["hello" , "world", "Python"]
list.clear()
print(list)

[]

In [ ]:
#TUPLE BASED QUESTION
11 # Create a tuple with 5 different fruits and print the third fruit

fruits = ("apple", "banana" , "orange", "apricot", "guava")
print(fruits[3])

apricot

In [ ]:
12 # Convert a tuple(10,20,30, 40, 50 into a list, remove the number 30, and convert it back into a tuple)
my_tuple = (10, 20, 30, 40, 50)
my_list_ = list(my_tuple)
my_list_.remove(30)
my_tuple = tuple(my_list_)
print(my_tuple)

In [ ]:
13 # Try to append an element to the tuple ("A", "B", "C") what happens? how can you modify a tuple indirectly.?
tup = ("A", "B", "C")
tup.append("D")
print(tup)
tup.modify("D")
print(tup)

In [ ]:
14 #Unpack the tuple (100, 200, 300) into separate variables and print them.
my_tuple = (100, 200, 300)
a, b, c = my_tuple
print(a)  # Output: 100
print(b)  # Output: 200
print(c)  # Output: 300

100
200
300

In [ ]:
15 #Count the occurences of 7 in the tuple (7, 1, 7, 3 ,7, 5)
my_tuple = (7, 1, 7, 3, 7, 5)
count_of_7 = my_tuple.count(7)
print(count_of_7)

3

In [ ]:
#ADVANCED PROBLEMBS:

16 # Write a function  that takes a list and returns a new list with all even numbers removed
my_list =[1, 2 ,3, 4, 5, 6, 7, 8, 9, 10]
new_list =[1, 3, 5, 7, 9]
print(new_list)

[1, 3, 5, 7, 9]

In [ ]:
17 #Create a function that accepts a list and returns a new list with elements sorted in descending order without using the sort () method.
my_list = [5, 2, 8, 1, 3]
sorted_list = sorted(my_list, reverse=True)
print(sorted_list)

[8, 5, 3, 2, 1]

In [ ]:
18 # Given a list of numbers write a program to remove all duplicate elements and print the unique element
my_list= [1, 2 , 3, 4, 5, 6 , 1 ,2]
unique_list =list(set(my_list))
print(unique_list)

In [ ]:
19 # Given a tuple of names ("Alice ", "Bob", "Charlie", "Alice", "David"), convert it into a list , remove duplocates and convert it back to a tuple
names = ("Alice", "Bob", "Charlie", "Alice", "David")
names_list =list(names)
names_list = list(set(names_list))
names = tuple(names_list)
print(names)

In [ ]:
20 #Create a program that takes a list  of mixed data types (int, str, float) and separates integers into one list, strings into another, and floats into another.

mixed_list = [10, "hello", 3.14, "world", 25, -2.5]
int_list= []
str_list= []
float_list= []
for item in mixed_list:
  if isinstance(item, int):
    int_list.append(item)
  elif isinstance(item, str):
    str_list.append(item)
  elif isinstance(item, float):
    float_list.append(item)

print(int_list)
print(str_list)
print(float_list)

[10, 25]
['hello', 'world']
[3.14, -2.5]